{% extends "blogapp/index.html" %}

{% block page_title %}
        <h2 style="text-align:center"> Login here! </h2>
{% endblock page_title %}


{% block page_content %}
    <p> 
        Login to access the latest recipes, tips, and food adventures!
    </p>

    <form class="form-control w-50" method="post">
        {% csrf_token %}
        {{ form }}       
            <!-- Displaying errors for each form field -->
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}  
        {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next}}" />
        {% endif %}
        <button> Submit </button>
    </form>

{% endblock page_content %}
