{% extends "blogapp/index.html" %}

{% block page_title %}
        <h2 style="text-align:left"> Search Results </h2>
{% endblock page_title %}

{% block page_content %}
    {% for post in posts %}
    <div class="card">
        <!-- Assuming you have an image field named 'image' in your Post model -->
        {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top img-fluid" alt="Post Image">
        {% else %}
            <!-- Fallback image if post doesn't have an image -->
            <img src="path/to/default-image.jpg" class="card-img-top img-fluid" alt="Default Image">
        {% endif %}
        
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a>
            </h5>
            <p class="card-text">{{ post.body | slice:":65" }}...</p>
            <a href="{% url 'blog_detail' post.pk %}" class="btn btn-primary">Read it!</a>
        </div>
    </div>
    {% endfor %}
{% endblock page_content %}
